@media screen and (max-width: 640px) {
  body {
    orientation: portrait;
  }
}
@media screen and (min-width: 1280px) {
  body {
    orientation: landscape;
  }
}
@media screen and (min-width: 640px) and (max-width: 1280px) {
  body {
    orientation: landscape;
  }
}

.container {
  display: grid;
  /* grid-template-columns: [x0] 1fr [x1] 1fr [x2] 1fr [x3] 1fr [x4] 1fr [x5] 1fr [x6] 1fr [x7] 1fr [x8] 1fr [x9] 1fr [x10] 1fr [x11] 1fr [x12];
  grid-template-rows: [y0] 1fr [y1] 1fr [y2] 1fr [y3] 1fr [y4] 1fr [y5] 1fr [y6] 1fr [y7] [y8] 1fr [y9] 1fr [y10] 1fr [y11] 1fr [y12]; */
  grid-template: repeat(12, auto);
  grid-template-areas:
    "header header"
    "h1"
    "imagen"
    "h2"
    "con-alcohol sin"
    "footer footer";
  grid-gap: 10px;
  height: 100vh;
}

.header {
  grid-row: 0 / span 2;
  grid-column: 0 / span 12;
  background-color: red;
  grid-column-gap: 30px;
}

.h1 {
  grid-row: 3;
  grid-column: 4 / span 8;
}

.imagen {
  grid-row: 4 / span 8;
  grid-column: 2 / span 10;
}

.h2 {
  grid-row: 8;
  grid-column: 4 / span 8;
}

.alcohol {
  grid-row: 9 / span 10;
  grid-column: 0 / span 5;
}

.sin {
  grid-row: 9 / span 10;
  grid-column: 7 / span 12;
}

.footer {
  grid-row: 10 / span 12;
  grid-column: 0 / span 12;
  background-color: red;
}
